<h1>ActionCable Chat</h1>
<h3>This chat uses Action Cable, Redis, and Sidekiq.  Hooray!</h3>
<div id ="messages">
  <% @messages.each do |message| %>
    <%= message.content %>
  <% end %>
</div>
<div class="input-box">
  <input type="text" class="input-box_text" id="message_input"/>
</div>
