<h1>ActionCable Chat</h1>
<h3>Open the Javascript console and type App.room.speak("Your Message") to see Rails work in real time with Sidekiq and Redis.</h3>
<div id ="messages">
  <% @messages.each do |message| %>
    <%= message.content %>
  <% end %>
</div>
<div class="input-box">
  <input type="text" class="input-box_text" id="message_input"/>
</div>
